modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
author = 31643198
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
